{% set ipaddress = [] %} 
{% set hosts = salt['mine.get']('roles:db', 'network.ip_addrs', 'grain') %}
{%- for id, ips in hosts.iteritems() %} 
  {% do ipaddress.append(ips[0]) %} 
{% endfor %} 

{% set hosts = salt['mine.get']('roles:db_bootstrap', 'network.ip_addrs', 'grain') %}
{%- for id, ips in hosts.iteritems() %} 
  {% do ipaddress.append(ips[0]) %}
{% endfor %}

{% set ipaddress = ",".join(ipaddress) %}
[mysqld]

#innodb_buffer_pool_size=200M
#innodb_log_file_size=100M
innodb_flush_log_at_trx_commit=0
max_connections=1024
innodb_file_per_table
server_id=3

performance_schema=0

binlog_format=ROW
default-storage-engine=innodb
innodb_autoinc_lock_mode=2
query_cache_type=0
query_cache_size=0
bind-address=0.0.0.0


# Galera Provider Configuration 

{% if grains['os'] != 'Ubuntu' %}
wsrep_provider={{ pillar['mdb_config']['provider'] }}
{% else %} 
wsrep_provider=/usr/lib/galera/libgalera_smm.so
{% endif %}
#wsrep_provider_options="gchache.size=32G" 

#Galera Cluster Configuration
wsrep_cluster_name="{{ pillar['mdb_cluster']['name'] }}"
wsrep_cluster_address="gcomm://{{ ipaddress }}"

# Galera Synchronization Configuration 
#Change sst method to xtrabackup.
wsrep_sst_method=rsync
#wsrep_sst_auth=user:pass

# Galera Node Configuration
wsrep_node_address="{{ salt['network.ipaddrs']('eth0')[0] }}"
wsrep_node_name="{{ grains['fqdn'] }}"
